/* This defines styles and classes used in the book */
body { margin: 5%; text-align: justify; font-size: medium; }
code { font-family: monospace; }
h1 { text-align: right; font-size: 2rem; line-height: 1.1;}
h2 { text-align: right; font-size: 1.5rem; margin-top: 3rem; line-height: 1.1; font-variant: small-caps;}
h3 { text-align: right; font-size: 1rem; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1, h2, h3, h4, h5, h6 {hyphens: none;}
/* For title, author, and date on the cover page */
h1.title { margin-bottom: 0; text-align: center;}
h1.hideme, h3.hideme {visibility: hidden;}
h2.subtitle {margin-bottom: 3rem; margin-top: 0; text-align: center; }
p.author { margin-top: 3rem}
p.date { margin-top: 3rem }
p.dedication { text-align: center;}
p.description { font-size: 0.9rem; text-align: center; line-height: 1.1; font-style: italic; }
.pdmark {text-align: center}
#toc-title { text-align: left;}
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; font-size: .5rem; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
img {max-width: 100%; text-align:center; page-break-inside:avoid; margin:0 auto;}
code{ white-space: pre-wrap; }
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
@media screen { /* Workaround for iBooks issue; see #6242 */
  .sourceCode {
    overflow: visible !important;
    white-space: pre-wrap !important;
  }
}
